{% extends 'store/main.html' %}
{% load static %}
{% block content %}


		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- shipping Details -->
						
						<div class="billing-details" id="billing"> 
							
							<form id="shipping-form">
								<div class="section-title">
									<h3 class="title">Shipping address </h3>
								</div>
								<div id="not-auth">
									<div class="form-group">
										<input class="input" type="text" name="name" placeholder="Name" >
									</div>
									<div class="form-group">
										<input class="input" type="email" name="email" placeholder="Email" >
									</div>
								</div>
								
							<div id='shipping-details' > 
								<div class="form-group">
									<input class="input" type="text" name="address" placeholder="Address" >
								</div>
								<div class="form-group">
									<input class="input" type="text" name="city" placeholder="City" >
								</div>
								<div class="form-group">
									<input class="input" type="text" name="state" placeholder="State" >
								</div>
								<div class="form-group">
									<input class="input" type="text" name="country" placeholder="Country" >
								</div>
								<div class="form-group">
									<input class="input" type="number" name="" placeholder="ZIP Code" >
								</div>
								<div class="form-group">
									<input class="input" type="number" name="tel" placeholder="Telephone" >
								</div>
						</div>	
							{% comment %} <div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" id="create-account">
									<label for="create-account">
										<span></span>
										Create Account?
									</label>
									<div class="caption">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
										<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div>
							</div> {% endcomment %}

							<input type="submit" id="shipping-button" class="primary-btn order-submit " />
						</form>
						</div>
					
						<!-- /shipping Details -->


						{% comment %} <!-- Order notes -->
						<div class="order-notes">
							<div class="section-title">
								<h3 class="title">Order Notes</h3>
							</div>
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes --> {% endcomment %}


					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								{% for item in items %}
								<div class="order-col">
									<div>{{item.quantity}}x {{item.product.name}}</div>
									<div>${{item.product.price}}</div>
								</div>
								{% endfor %}
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">${{order.get_cart_total}}</strong></div>
							</div>
						</div>
						<div class="payment-method hidden" id="payment-container">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1">
								<label for="payment-1">
									<span></span>
									Direct Bank Transfer
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Cheque Payment
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3">
								<label for="payment-3">
									<span></span>
									Paypal System
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						<input type='submit' class="primary-btn order-submit hidden" id="place-order" value="place order" />
					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		{% comment %} hiding shipping field for digital items {% endcomment %}

		<script>

			let shipping_input = '{{order.shipping}}'
			let form = document.getElementById('shipping-form')
			let total = '{{order.get_cart_total|floatformat:2}}'
			var user = '{{request.user}}' 

			console.log(shipping_input)


			if(shipping_input === 'False'){
				document.getElementById('billing').innerHTML = ''
				
			}

			if( user != "AnonymousUser" ){
				document.getElementById('not-auth').innerHTML = ''
			}

			if(user == 'AnonymousUser'){
				document.getElementById('shipping-details').classList.add('hidden')
			}


			
			if( shipping_input == 'False' && user != "AnonymousUser" ){
				document.getElementById('shipping-form').classList.add('hidden')
				document.getElementById('payment-container').classList.remove('hidden')
				document.getElementById('place-order').classList.remove('hidden')
				document.getElementById('shipping-details').classList.remove('hidden')
			}
			
			
			form.addEventListener('submit', function(e){
				e.preventDefault()
				console.log('form submitted........')
				document.getElementById('shipping-button').classList.add('hidden')
				document.getElementById('payment-container').classList.remove('hidden')
				document.getElementById('place-order').classList.remove('hidden')

			})

			document.getElementById('place-order').addEventListener('click', function(e){
				paymentButtonClick()
			})

			function paymentButtonClick(){
				console.log("payment button clicked....")

				let userFormdata = {

					'name' : null,
					'email' : null,
					'total' : total,

				}

				let shippingInfo = {

					'address' : null,
					'city' : null,
					'state' : null,
					'country' : null,
					'zip-code': null,
					'tel' : null,

				}

				if ( user == 'AnonymousUser' ){
					
					userFormdata.name = form.name.value
					userFormdata.email = form.email.value

				}


				if(shipping_input != False){

					shippingInfo.address = form.address.value
					shippingInfo.city = form.city.value
					shippingInfo.state = form.state.value
					shippingInfo.country = form.country.value
					shippingInfo.zip = form.zip.value
					shippingInfo.tel = form.tel.value

				}
			}
			

			

		</script>

{% endblock content %}
