<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgot_password.css">
    <title>Register</title>
</head>
<body>
    <div class="home">
        <a href="/index.html"><img src="/assets/img/icons8-error-64.png' %}"/><br/><p>Urgence</p><br/></a>
    </div>
    
    <div class="container">
    <form>
        <div class="register">
                <h1>Forgot Password</h1>
                <hr>
            
                <label for="email"><p><b>Email</b></p></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                <button type="submit" class="registerbtn">Sumbit</button>
                </div>
                <div class="container signin">
                <p>Already have an account? <a href="/fiels/signin.html">Sign in</a>.</p>
        </div>
    </form>
    </div>
</body>
</html>